/* 
    Document   : style
    Created on : Mar 27, 2012, 2:14:25 PM
    Author     : ari
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
padding-top: 60px;
padding-bottom: 40px;
 background: url(../img/bg-admin.png);
}

.sidebar-nav {
padding: 9px 0;
}
.add_btn{
   float: right
}
#headtable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#headtable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; background: #fff}
#headtable li span { position: absolute; margin-left: -1.3em; }
#headtable li span.checkbox { position: absolute; margin-left: -1.3em; }
#headtable li span.title{position: absolute; width: 20%; margin-left: 5px }
#headtable li span.linkto{position: absolute; margin-left: 250px; }

#sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.1em; text-align: left}
#sortable1 { list-style-type: none; margin: 13px 3px 3px 0; padding: 0; width: 100%; }
#sortable1 li { margin: 3px 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.0em; text-align: left}

#sortable li .edit a{color: #ffffff }
#sortable1 li .edit a{color: #ffffff }
