@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Oswald:400,300,700);

* {
    margin: 0;
    padding: 0;
}
ul { padding-left: 30px; }
ol { padding-left: 30px; }
.wrapper{
    width: 980px;
    margin: 0 auto;
    font-family: 'Droid Serif','Oswald', Arial, serif;
}

.header{
    height: 123px;   
    padding-top: 30px;
}
.header .logo img {
   border:0;
}

h1, h2, h3 { font-family: "Oswald"; font-weight: 700; text-shadow: 1px 1px #959595; color: #263490; /* #015c94; */ } 
h4, h5 { font-family: Oswald; font-weight: 400; color: #015c94; }
h1 { font-size: 24px; padding-bottom: 25px; }
h2 { font-size: 20px; padding-bottom: 25px; }
h3 { font-size: 18px; padding-bottom: 10px; }
h4 { font-size: 16px;  }
h5 { font-size: 14px; }

strong { font-weight: 700; }

.left_content{
    float: left;
    width: 160px; 
}
.sidebarmenu ul{
margin: 0;
padding: 0;
list-style-type: none;
border-right: 4px #fcca1d solid;
}
 
.sidebarmenu ul li{    
position: relative;
padding-right: 15px;
font-family: Oswald;
font-weight:700;
text-align: right;
display: block;

}

/* Top level menu links style */
.sidebarmenu ul li a{
    text-decoration: none;
    text-shadow:1px 1px grey;
    color: #1B4D10; /* #093500; #75f717;    */
    font-size: 16px;
}
.sidebarmenu ul li a:hover, .sidebarmenu ul li ul li a:hover { color: #75f717; /* #263490; */ }
    
/*Sub level menu items */
.sidebarmenu ul li ul{
background: #FCCA1D; /* #263490; #75f717; */

z-index: 9999;    
position: absolute;
border-right: none;
min-width: 120px; /*Sub Menu Items width */
//padding-top: 10px;
padding-left: 20px;
padding-bottom: 10px;
top: 0;
visibility: hidden;
	font-family: Oswald;
}
.sidebarmenu ul li ul li, .sidebarmenu ul li ul li a{
	text-align: left;
	font-family: Oswald;
   	 color: #1B4D10;
	font-size: 15px;    
}

.sidebarmenu ul li ul li a:hover {
         color: #fff; /*  #75f717; */
}

/*
.sidebarmenu a.subfolderstyle{
background: url(../img/up.png) no-repeat 97% 50%;
}*/

.right_content{
    float: right;
    width: 820px;
}
.right_content img { border: 1px solid #363636; padding: 5px 5px 5px 5px; }
.right_content #outer_container{
    width: 676px;
    height: auto;
    background: #ebebeb; /* #ececec; */
    margin-left: 25px;
    opacity:0.9;
    padding: 0 25px 0 25px;
    overflow: auto;
	font-family: "Droid Serif";
	font-weight: 300;
	font-size: 12px;
}

.right_content #outer_container .content{
    padding: 15px 15px 15px 15px;
        font-family: "Droid Serif";
        font-weight: 300;
	font-size: 14px;
	line-height: 20px;
}

.right_content #outer_container h1{    
    /* color: #263490; /* #015c94;*/
    font-size: 24px;  */
	padding-bottom: 30px;
}

.right_content #outer_container .content p{
	font-family: "Droid Serif";
	font-weight: 300;
     /* font-weight: lighter; */
     font-size: 14px;
	line-height: 20px;
}

.right_content ol{
	font-family: "Droid Serif";
	padding-top: 10px;
   // font-weight: lighter;
}
.right_content ul{
	font-family: "Droid Serif";
	padding-top: 10px;
   // font-weight: lighter;
}
.news { padding: 10px 0 10px 0; margin: 0;  }
.newsc { padding:0; margin: 0; }
.newsc img { border: 0; }
.news-left { width: 50px; float: left; }
.news-right { width: 350px; float: left; }
.newsd  { padding-top: 0px; text-align: justify; font-size: 12px; padding-left: 50px;}
.newsd a, .newsd a:visited { color: #263490; text-decoration: none; font-style: italic; }
.newsd a:hover { color: #fcca1d; }

.news h4 a{
	font-family: Oswald;
    color: #015c94;
    text-decoration: none;
}
.content span.date { padding-top: 20px; font-size: 12px; font-family: Oswald; }
.tgl { padding: 0px 0 10px 0; font-size: 12px; font-family: Oswald; margin-top: -20px;}
.news span.date{
    font-size: 12px;
	text-decoration: italic;
}
/* 
.button{
	display:inline-block; 
	padding:2px 2px 2px 2px; 
	text-align:center; 
	font-family:Oswald; 
	color:#444444; 
	font-weight:700; 
	font-size: 12px;
	background:#75f717;
}
.button:hover{color:#888888;}
*/

    /* Gallery style */
    #gallery a { text-decoration: none }
    #gallery ul { list-style: none;}
    #gallery ul li { display: inline-block; float: left;  padding: 5px;}

    #list_album a { text-decoration: none }
    #list_album ul { list-style: none; }
    #list_album ul li { display: inline-block;padding: 10px; right: auto; text-align: center}
    #list_album ul li .title_album{
                    color: #666;
    }

    .sharing_tools{
	width: 720px; 
        /* min-width: 400px; */
        float: right; margin-right: 70px; background: #ebebeb;
	opacity: 0.9;
        padding: 5px 5px 0 0;
	background: #263490; /* #66e427; */
	text-align: right;
    }    
    
#bek {
    
    position: fixed;
    width: 100%; 
    height: 100%;
    z-index: -1;
}
.clear
{
	clear: both;
}
.copy { 
	width: 620px;
	padding-bottom: 20px;
	margin-right: 85px;
	background: none;
	float: right; 
	font-family: Oswald;
	font-weight: 400;
	font-size: 12px;
	text-align: right;
	color: #1B4D10;
}
.copy a,.copy a:hover, .copy a:active, .copy a:visited { color: #1B4D10; text-decoration: none; }

.copyright{
    
    position: relative;
/*	bottom: 0;
 	width: 400px;
	margin: 0 20px 10px auto; */

        float: right;
	width: 400px;
        bottom: 0; /*  -100px; */
	right: 0;
	text-align: right;
        color: #fff;
	font-family: Oswald;
	font-size: 12px; 
	font-weight: 400;
}
.copyright a,.copyright a:hover, .copyright a:active, .copyright a:visited { color: #fff; text-decoration: none; }



/********************************* Start Comments Form *********************************/
.forms { border:0; width:100%; }
#goglse input[type=text]:focus, #goglse textarea:focus{ border:1px solid #ff5f01; box-shadow: 0 0 2px #ff5f01; }
#commentform input[type=text]{padding:7px; width:300px; margin-bottom:10px; font-size:11px; color:#7e7e7e; border:1px solid #d1d1d1;  -moz-border-radius:4px; -webkit-border-radius:4px; margin-right:15px;}
#commentform input[type=tel]{padding:7px; width:300px; margin-bottom:10px; font-size:11px; color:#7e7e7e; border:1px solid #d1d1d1;  -moz-border-radius:4px; -webkit-border-radius:4px; margin-right:15px;}
#commentform input[type=email]{padding:7px; width:300px; margin-bottom:10px; font-size:11px; color:#7e7e7e; border:1px solid #d1d1d1;  -moz-border-radius:4px; -webkit-border-radius:4px; margin-right:15px;}
#commentform input[type=url]{padding:7px; width:300px; margin-bottom:10px; font-size:11px; color:#7e7e7e; border:1px solid #d1d1d1;  -moz-border-radius:4px; -webkit-border-radius:4px; margin-right:15px;}

#commentform textarea{padding:7px; width:600px; height:137px; margin-bottom:10px; color:#7e7e7e; overflow:auto; border:1px solid #d1d1d1;  -moz-border-radius:4px; -webkit-border-radius:4px;}
#commentform input[type=text]:focus, #commentform textarea:focus{border:1px solid #ff5f01; box-shadow: 0 0 2px #ff5f01; }
#commentform input[type=tel]:focus, #commentform textarea:focus{border:1px solid #ff5f01; box-shadow: 0 0 2px #ff5f01; }
#commentform input[type=email]:focus, #commentform textarea:focus{border:1px solid #ff5f01; box-shadow: 0 0 2px #ff5f01; }
#commentform input[type=url]:focus, #commentform textarea:focus{border:1px solid #ff5f01; box-shadow: 0 0 2px #ff5f01; }

#commentform p{margin-bottom:0 !important; position:relative; font-family: 'Oswald', serif;}
#commentform p span{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif !important; font-size:10px;}
#commentform label{position:absolute; top:7px; right:5px; display:block; width:15px; height:15px; text-indent:-9999px;}
#commentform input.error, #commentform textarea.error{border:1px solid #ffa3a3; -moz-border-radius:4px; -webkit-border-radius:4px;}
#commentform input.valid, #commentform textarea.ok{border:1px solid #7ce460;}
#commentform input.error{padding:7px 7px;}
/********************************* End Comments Form *********************************/


/*SCROLL BAR TERMS*/
div.scrollbarpaper-container{position:absolute;z-index:1;}
div.scrollbarpaper-track{position:absolute;top:0;right:0;height:100%;cursor:pointer;}
div.scrollbarpaper-drag{position:absolute;width:100%;height:100px;}
div.scrollbarpaper-drag-top{position:absolute;top:0;width:100%;}
div.scrollbarpaper-drag-bottom{position:absolute;bottom:0;width:100%;}
div.scrollbarpaper-container{background-color:#ececec}
div.scrollbarpaper-track{width:8px;}
div.scrollbarpaper-drag{background-color:#BEC0C2;}
div.scrollbarpaper-drag-top{height:8px;background:transparent url(../img/scrollbar-drag-top.png) no-repeat;}
div.scrollbarpaper-drag-bottom{height:8px;background:transparent url(../img/scrollbar-drag-bottom.png) no-repeat;}
.scrollbarpaper-visible{}

/* #Buttons
================================================== */
        .button,
        button,
        input[type="submit"],
        input[type="reset"],
        input[type="button"] {
                border:1px solid #e1e1e1;
                color:#fff;
                cursor:pointer;
                font-size:11px;
                padding:7px 15px;
                margin:7px 0px 0px;
                line-height:25px;
                display:inline-block;
                background:#66e427;
                -webkit-transition: all 0.3s linear;
                   -moz-transition: all 0.3s linear;
                         -o-transition: all 0.3s linear;
                                transition: all 0.3s linear;
                -webkit-border-radius:3px;
                   -moz-border-radius:3px;
                                border-radius:3px;
                -webkit-text-shadow:0px 1px 0px #fff;
                   -moz-text-shadow:0px 1px 0px #fff;
                                text-shadow:0px 1px 0px #fff;
                }
        .button:hover,
        button:hover,
        input[type="submit"]:hover,
        input[type="reset"]:hover,
        input[type="button"]:hover {
                -webkit-box-shadow: 0px 0px 1px #ccc;
                   -moz-box-shadow: 0px 0px 1px #ccc;
                                box-shadow: 0px 0px 1px #ccc;
                }
        .button:active,
        button:active,
        input[type="submit"]:active,
        input[type="reset"]:active,
        input[type="button"]:active {
                border: 1px solid #666;
                background: #ccc; /* Old browsers */
                background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
                background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
                background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
                background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
                background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
                background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }
        .button.full-width,
        button.full-width,
        input[type="submit"].full-width,
        input[type="reset"].full-width,
        input[type="button"].full-width {
                width: 100%;
                padding-left: 0 !important;
                padding-right: 0 !important;
                text-align: center; }
        /* Fix for odd Mozilla border & padding issues */
        button::-moz-focus-inner,
        input::-moz-focus-inner {
    border: 0;
    padding: 0;
        }

