body {
     background: url(../img/bg-admin.png);
}
.top_col{
    padding-top: 12px;
    background:  #50545A;
    height: 40px;   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;    
   text-align: center;
}
h3{
     color: #fff;

}
.col{
    
    background: #ffffff; 
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-box-shadow: 0 0 2px 2px #50545A;
    -webkit-box-shadow: 0 0 2px 2px #50545A;
    box-shadow: 0 0 2px 2px #50545A; 
}
 .form{
    padding: 22px;
    color:  #50545A;
}
.btn{
    color:  #50545A;
    font-weight: 900;
}
.powered a{
   text-decoration: none;
    color: #50545A;
}